:root {
    --verde-principal: #234D36;
    --dourado: #D9A928;
    --creme: #F2E8C9;
    --fundo: #F6F2E6;
    --verde-claro: #EDF5EF;
    --texto: #222222;
}

fundo-padrao {
    background-color: var(--fundo);
    color: var(--texto); 
}