.navbar {
  padding: 16px 32px;
  background-color: #234D36;
  color: #F2E8C9;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1400px;
  margin: 0 auto;
}

.navbar-esquerda,
.navbar-list,
.navbar-acoes {
  display: flex;
  align-items: center;
}

.navbar-list {
  gap: 28px;
  margin: 0 0 0 35px;
  padding: 0;
  list-style: none;
}

.navbar a {
  color: #D9A928;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

.navbar a:hover {
  opacity: 0.7;
}

.navbar-logo img {
    width: 130px;
    height: auto;
    display: block;
}

.navbar-acoes {
  gap: 24px;
}

.navbar-acoes {
  gap: 24px;
}

.navbar-acoes button {
  background: none;
  border: none;
  cursor: pointer;
  color: #D9A928;
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
}

.navbar-acoes button:hover {
  opacity: 0.7;
}