<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Produtos</h1>
    
<div id="remedios">
    <div id="dipirona">
        <img id="d" src="imgCompras/dipirona.jpg" alt="Dipirona">
    <h3 >Dipirona</h3>
    <h4>R$ 16,90</h4>
    <p>Medicamento para aliviar dores e febre.</p>
    <button><b>Adicionar ao carrinho</b></button>
    </div>
    
    <div id="loratadina">
        <img id="l" src="imgCompras/loratadina.png" alt="Loratadina">
        <h3>Loratadina</h3>
        <h4>R$ 6,99</h4>
          <p>Medicamento utilizado para sintomas de alergia.</p>
          <button><b>Adicionar ao carrinho</b></button>
    
    </div>
    
    <div id="dorflax">
        <img id="d" src="imgCompras/dorflax.jpg" alt="Dorflax">
    <h3 >Dorflax</h3>
    <h4>R$ 8,51</h4>
    <p>Medicamento utilizado para aliviar dores.</p>
    <button><b>Adicionar ao carrinho</b></button>
</div>

</div>
</body>
</html>



