<body>
    <div id="produtos-carrinho">
        <h1>Carrinho de Compras</h1>

        <div class="produto-carrinho" *ngFor="let produto of produtos; let i = index">
            <h3>{{ produto.nome }}</h3>
            <p>Preço: R$ {{ produto.preco.toFixed(2).replace('.', ',') }}</p>
            <button (click)="diminuir(i)">-</button>
            <button (click)="adicionar(i)">+</button>
            <p class="quantidade">{{ quantidades[i] }}</p>
        </div>
    </div>

    <h2>Total da compra: R$ {{ total().toFixed(2).replace('.', ',') }}</h2>
</body>
