<<<<<<< HEAD
:root {
    --verde-principal: #234D36;
    --dourado: #D9A928;
    --creme: #F2E8C9;
    --fundo: #F6F2E6;
    --verde-claro: #EDF5EF;
    --texto: #222222;
}
=======
/* You can add global styles to this file, and also import other style files */
>>>>>>> f948d758c36b9c14c8835579a65661e07c6e2e80
